pkgbase = gr-osmosdr-nuand-git
	pkgdesc = GNU Radio source block for OsmoSDR, which is a 100% Free Software based small form-factor inexpensive SDR (Software Defined Radio) project. (Nuand fork)
	pkgver = 27aa23
	pkgrel = 1
	url = https://osmocom.org/projects/gr-osmosdr/wiki
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = cmake
	makedepends = boost
	makedepends = pybind11
	depends = gnuradio
	depends = gnuradio-iqbal
	depends = swig
	depends = libosmosdr
	depends = bladerf
	conflicts = gr-osmosdr-nuand
	conflicts = gr-osmosdr
	conflicts = gnuradio-osmosdr
	source = git+https://github.com/Nuand/gr-osmosdr
	md5sums = SKIP

pkgname = gr-osmosdr-nuand-git
